body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(236, 232, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 30px;
}

.container {
    width: 400px;
    height: 600px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 100px 500px;
    border: black 1px solid;
    background-color: rgb(70, 70, 70);
}

.screen {
    margin: 10px;
    background-color: rgb(224, 224, 224);
}

.input-box {
    display: grid;
    max-width: 400px;
    padding-left: 5px;
}

.info-box {
    border-bottom: black 1px solid;
    padding-left: 5px;
}

.number-box {
    display: grid;
    grid-template-rows: 400px 100px;
    border-top: black 1px solid;
}

.number-box-top {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.number-box-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    border: 1px black solid;
    background-color: rgb(224, 224, 224);
}